* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}


img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    display: block;
    block-size: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}



body {
    font: 14px/1.5 "Work Sans", sans-serife;
    background: #FFFFFF;
    padding: 1em;
    color: #111111;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.site {
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 1em;
}

.site-header .header-first {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.header-first .logo {
    text-shadow: 0.1em 0.05em #d6cfcf;
}

.header-first .social ul {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
    background: inherit;
}

.social i,
.navbar-closed i {
    background: white;
    color: black;
}

.navbar-closed {
    color: black;
}

.inactiv {
    display: none;
}


.nav-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.2em;
}

.navbar ul li {
    display: block;
    list-style: none outside;
    border-radius: 0.2em;
}

.nav-list-items li a {
    display: block;
    max-width: 100%;
    text-align: cennter;
    background: #ECC15B;
    border-radius: 0.2em;
    padding: 0.2em 0;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0.9px 0.9px #d6cfcf;
}

section {
    height: 400px;
}


@media(min-width:600px) {
    .site-header{
        gap: 10%;
    }

    .header-first{
        flex: 1 1 25%;
    }
    .header-second{
        flex: 1 1 60%
    }
    .navbar-closed{
        display: none;
    }
    .inactiv {
        display: block;
    }

    .nav-list-items{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list-items li a{
        background-color: white;
    }
}