.sections-wrapper {
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero {
    height: 45em;
    position: relative;
}

.hero-wrapper {
    background: black;
    background-image: url('../../img/wallpaperflare.com_wallpaper\ \(1\).jpg');
    background-size: cover;
    /* opacity: 0.9; */
    width: 100%;
    height: 100%;
    /* border-radius: 1em; */
}

.img-wripper {
    background-image: url('../../img/Viber-Bild_2025-05-20_16-32-03-320.jpg');
    background-size: cover;
    width: 15em;
    height: 15em;
    border-radius: 7em;
    position: absolute;
    top: 23%;
    left: 15%;
}

.hero-wrapper h1 {
    position: absolute;
    top: 49%;
    left: 5%;
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    padding: 2em 1em;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.hero-wrapper h1 strong {
    font-weight: normal;
    font-size: 0.6em;
}

@media (min-width:1000px) {
    .img-wripper {
        top: 10%;
        left: 70%;
    }

    .hero-wrapper h1 {
        position: absolute;
        top: 58%;
        left: 5%;
        color: #ffffff;
        font-size: 3em;
        font-weight: bold;
        padding: 2em 1em;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .hero-wrapper h1 strong {
        font-weight: normal;
        font-size: 0.6em;
    }
}

/* End of hero section */

.skills {
    padding: 2em 0 0;
}


.skills h2,
.about h2,
.portfolio h2,
.certificates h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

.skills-wrapper {
    padding-top: 1.5em;
}

.skills-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.skills-wrapper ul li {
    flex: 1 1 25%;
    align-self: center;
    text-align: center;
}

.skills-wrapper ul li i {
    color: #62a1a7;
    font-size: 4em;
}

.seo {
    position: relative;
}

.skills-wrapper ul li strong {
    color: #62a1a7;
    position: absolute;
    left: 32.4%;
    top: 11.5px;
}

/* End on skills section */

.about-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    gap: 1em;
}

.education,
.experiences,
.interests {
    border-radius: 1em;
    padding: 1em 0.8em;
}


.about h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.about h4 {
    font-weight: bold;
}

.education,
.interests {
    background: #efeaea;
}

.experiences {
    background: #f5f8f1;
}

.about-wrapper div div {
    padding-bottom: 1em;
}

.about-wrapper div div * {
    padding-bottom: 0.5em;
}

.description-about {
    font-size: 0.8;
    font-weight: bold;
    font-family: italic;
    padding: 3em 0;
    text-align: center;
}


.home-portfolio ul a {
    display: flex;
    justify-content: center;
}

.home-portfolio .github-repo {
    padding: 2em;
    border: none;
    background-color: white;
    text-decoration: underline;
}

.link-to-projects {
    background-color: rgb(51, 87, 255);
    color: white;
    border: none;
    padding: 0.9em;
}

/* End of about me section */

@media(min-width: 800px) {
    .about-wrapper {
        flex-direction: row;
        gap: 1em;
        justify-content: center;
    }
}