.certificates,
.portfolio {
    margin-bottom: 2em;
    text-align: center;
    padding: 0 2em;
    padding-top: 3em;
}

/* End of certificates section */

.portfolio-categories,
.portfolio-gallery {
    margin-bottom: 2em;

}

.portfolio-categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
}

.portfolio-categories ul li {
    margin: 0.5em 0;
}

.portfolio-categories ul a {
    width: 100%;
    height: 100%;
    padding: 0.8em 1.5em;
    background-color: #f5e9e9;
    border-radius: 1em;
}

.portfolio-gallery ul,
.certificates-gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1em;
    gap: 2em;
}

.portfolio-gallery ul li,
.certificates-gallery ul li {
    flex: 0 1 40%;
    border-radius: 1em;
}

.portfolio-gallery ul li a img,
.certificates-gallery ul li a img {
    border-radius: 1em;

}

.all {
    border: none;
    background-color: white;
    text-decoration: underline;
}

@media(min-width: 800px) {

    .portfolio-gallery ul li,
    .certificates-gallery ul li {
        flex: 0 1 30%;
    }
}

.portfolio-gallery ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-gallery ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}